<div class="container">
    <!-- Productos por categorías -->
    <div class="row" *ngIf="!auxStore">
        <ng-container *ngIf="storeID == null">
            <div class="col-md-9 mx-auto">
                <br>
                <div class="row">
                    <h1 class="section-title text-center">Categoría</h1>
                </div>
                <br>
                <div class="card-columns">
                    <div class="card shadow bg-white" *ngFor="let product of products | paginate: {itemsPerPage: 7, currentPage: actualPage}">
                        <a [routerLink]="['/single-product', product._id]"><img class="img-fluid" src="{{ product.images[0] }}" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ product.name }}</h5>
                            <p class="card-text text-center">{{ product.price }} CLP</p>
                            <button type="submit" class="btn bg-pink btn-block text-uppercase mb-2"[routerLink]="['/single-product', product._id]">Ver</button>
                        </div>
                    </div>
                </div>
                <pagination-controls (pageChange)="actualPage = $event"></pagination-controls>
            </div>
        </ng-container>
        <div class="col-md-3 mx-auto">
            <app-category-list></app-category-list>
        </div>
    </div>

    <!-- Productos por tienda -->
    <div class="row" *ngIf="auxStore">
        <ng-container *ngIf="storeID != null">

            <div class="col-md-3 mx-auto d-none d-md-block" *ngIf="products">
                <br>
                <div class="text-center">
                    <img class="img-fluid" src="{{ products == null ? '' : products[0].store.imageUrl }}">    
                </div>
                <br>                
                <ul class="text-left categories">
                    <li *ngFor="let category of categories">
                        <a routerLink="/categorias/{{ category.category._id }}">
                            <i class="fa fa-angle-double-right"></i> {{ category.category.name }}
                        </a>
                        <hr>
                    </li>
                </ul>
            </div>
            <div class="row mt-4 d-md-none" *ngIf="products">
                <div class="col-3">
                    <div class="text-center">
                        <img class="img-fluid" src="{{ products == null ? '' : products[0].store.imageUrl }}">    
                    </div>
                </div>
                <div class="col-9">
                    <img class="img-fluid" src="{{ products == null ? '' : products[0].store.bannerUrl }}">
                </div>
            </div>    
            <div class="col-md-9 mx-auto" *ngIf="products">
                <br>
                <div class="row d-none d-md-flex" *ngIf="products[0].store.bannerUrl">
                    <div class="col-md-12">
                        <img class="img-fluid" src="{{ products == null ? '' : products[0].store.bannerUrl }}">
                    </div>
                </div>
                <div class="menu text-center d-md-none">
                  <a routerLink="" class="item-container w-100" *ngFor="let category of categories">
                    <div class="menu-item text-center">
                        {{ category.category.name }}
                    </div>
                  </a>
                </div>
                <br>
                <div class="card-columns">
                    <ng-container *ngFor="let product of products | paginate: {itemsPerPage: 7, currentPage: actualPage}">
                        <div class="card shadow bg-white" *ngIf="product.store._id == storeID">
                            <a [routerLink]="['/single-product', product._id]"><img class="img-fluid" src="{{ product.images[0] }}" alt="..."></a>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ product.name }}</h5>
                                <button type="submit" class="btn bg-pink rounded-pill btn-block text-uppercase mb-2" [routerLink]="['/single-product', product._id]">{{ product.price }} CLP</button>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <pagination-controls (pageChange)="actualPage = $event"></pagination-controls>
            </div>
        </ng-container>        
    </div>
</div>