<br>
<div class="row">
  <h1 class="section-title text-center">PRODUCTOS</h1>
</div>
<br>
<label class="text-muted">Ordenar por:</label>
<select class="browser-default custom-select">
  <option selected>Default</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
<br><br>
<div class="card-columns">
  <div class="card shadow bg-white" *ngFor="let product of products | paginate: {itemsPerPage: 7, currentPage: actualPage}">
    <a [routerLink]="['/single-product', product._id]"><img class="img-fluid" src="{{ product.images[0] }}" alt="..."></a>
    <div class="card-body">
        <h5 class="card-title text-center">{{ product.name }}</h5>
        <p class="card-text text-center">{{ product.price }} CLP</p>
      <a type="submit" class="btn bg-pink btn-block text-uppercase mb-2" [routerLink]="['/single-product', product._id]">Ver producto</a>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="actualPage = $event"></pagination-controls>
