<div class="container">
	<br>
	<div class="masonry-layout-general">
	  <div class="masonry-layout__panel" *ngFor="let product of products | paginate: {itemsPerPage: 15, currentPage: actualPage}">
	    <div class="masonry-layout__panel-content">
	      <a [routerLink]="['/single-product', product._id]"><img class="img-fluid" src="{{ product.images[0] }}" alt="..."></a>
	      <h5 class="text-center">{{ product.name }}</h5>
	      <p class="card-text text-center">{{ product.price }} CLP</p>
	      <a class="btn bg-pink btn-block text-uppercase mb-2" [routerLink]="['/single-product', product._id]">VER</a>
	    </div>
	  </div>
	</div>
	<div class="text-center">
		<h1>{{ notFound }}</h1>
	</div>
	<br>
</div>