.login,
.image {
  min-height: 100vh;
}
.bg-blue,
.custom-control-input:checked~.custom-control-label::before {
    background-color: #2587c4 !important;
    border-color: #2587c4 !important;
    color: #fff;
}

.bg-image {
  background-image: url('../../../assets/img/portrait-pretty-happy-girl-talking-mobile-phone final.jpg');
  background-size: cover;
  background-position: left;
}