<div class="container">
    <div class="row">
        <div class="col-md-9">
            <br>
            <div class="row">
                <h1 class="section-title text-center">Categoría</h1>
            </div>
            <br>
            <div class="card-columns">
                <div class="card shadow bg-white" *ngFor="let p of product | paginate: {itemsPerPage: 7, currentPage: actualPage}">
                    <img class="img-fluid" src="{{ p.image }}" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ p.name }}</h5>
                        <p class="card-text text-center">{{ p.price }} CLP</p>
                        <button type="submit" class="btn bg-pink btn-block text-uppercase mb-2">Añadir al carrito</button>
                    </div>
                </div>               
            </div>
            <pagination-controls (pageChange)="actualPage = $event"></pagination-controls>
        </div>    
        <div class="col-md-3">
            <app-category-list></app-category-list>
        </div>
    </div>    
</div>