<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">¡Contáctanos!</h3>
                            <p class="text-muted mb-4">Envíanos un mensaje</p>
                            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                                <small class="form-text text-danger"
                                    *ngIf="contactForm.get('nombre').touched && contactForm.get('nombre').invalid">
                                    Debe ingresar su nombre
                                </small>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control rounded-pill border-0 shadow-sm px-4" id="nombre" formControlName="nombre" placeholder="Nombre y Apellido" required>
                                </div>
                                <small class="form-text text-danger"
                                    *ngIf="contactForm.get('correo').touched && contactForm.get('correo').invalid">
                                    Debe ingresar un correo electrónico válido
                                </small>
                                <div class="form-group mb-3">
                                    <input type="email" class="form-control rounded-pill border-0 shadow-sm px-4" id="nombre" formControlName="correo"  placeholder="ejemplo@gmail.com" required>
                                </div>
                                <small class="form-text text-danger"
                                    *ngIf="contactForm.get('mensaje').touched && contactForm.get('mensaje').hasError('required')">
                                    Debe ingresar un mensaje
                                </small>
                                <small class="form-text text-danger"
                                    *ngIf="contactForm.get('mensaje').touched && contactForm.get('mensaje').value.length < 50">
                                    Su mensaje debe poseer al menos 50 caracteres
                                </small>
                                <div class="form-group mb-3">
                                    <textarea class="form-control rounded-pill border-0 shadow-sm px-4" formControlName="mensaje" placeholder="Envianos tu Mensaje" required></textarea>
                                </div>                             
                                <button type="submit" class="btn bg-pink btn-block text-uppercase mb-2 rounded-pill shadow-sm">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>