<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <ng-container *ngIf="!passwordChanged">
                <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-3">
                        <label class="text-muted mb-4">Ingrese su nueva contraseña</label>
                        <input type="password" placeholder="" id="password" formControlName="password" class="form-control rounded-pill border-0 shadow-sm px-4">
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-muted mb-4">Repita la contraseña</label>
                        <input type="password" placeholder="" class="form-control rounded-pill border-0 shadow-sm px-4">
                    </div>
                    <button type="submit" class="btn bg-pink btn-block text-uppercase mb-2 rounded-pill shadow-sm" [disabled]="recoverPasswordForm.invalid || submitted">Registrarse</button>
                    <small class="form-text text-danger"
                        *ngIf="error">
                        Ha ocurrido un error
                    </small>
                </form>
            </ng-container>
            <ng-container *ngIf="passwordChanged">
                <div class="text-center">
                    <h1>Se ha cambiado su contraseña exitosamente</h1>
                    <br>
                    <a class="btn bg-pink btn-block" routerLink="/login">Iniciar sesión</a>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<br><br><br>
