<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                    <label class="text-muted mb-4">Ingrese su correo para recuperar la contraseña</label>
                    <input type="text" placeholder="" id="email" formControlName="username" class="form-control rounded-pill border-0 shadow-sm px-4">
                </div>
                <button type="submit" class="btn bg-pink btn-block text-uppercase mb-2 rounded-pill shadow-sm" [disabled]="passwordForm.invalid || submitted">Recuperar contraseña</button>
                <small class="form-text text-danger"
                    *ngIf="error">
                    Ha ocurrido un error
                </small>
            </form>
            <div *ngIf="aux">
                <a routerLink="/password-recovery/{{ token }}">Recuperar</a>
            </div>            
        </div>
    </div>
</div>
<br><br><br>
