.login,
.image {
  min-height: 100vh;
}
.bg-pink,
.custom-control-input:checked~.custom-control-label::before {
    background-color: #c4366d !important;
    border-color: #c4366d !important;
    color: #fff;
}

.bg-image {
  background-image: url('C:/Users/Jorge/Desktop/veychi-frontend-development/src/assets/img/pexels-photo-555017.jpeg');
  background-size: cover;
  background-position: center center;
}