<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ product.images[0] }}" class="img-fluid mb-3" alt="">
          <ng-image-slider [images]="productImages" #nav></ng-image-slider>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3" *ngIf="product">
              <a [routerLink]="['/categorias', product.category._id]">
                <span class="badge purple mr-1">{{ product.category.name }}</span>
              </a>
            </div>

            <p class="lead">
              <span class="mr-1">
                <del>$200</del>
              </span>
              <span>{{ product.price }}</span>
            </p>
            <h1>{{ product.name }}</h1>
            <p class="lead font-weight-bold">Descripción</p>

            <p>{{ product.shortDescription }}</p>

            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md ml-3 my-0 p" type="submit" (click)="saveCart(product)">Agregar al carrito
                <i class="fas fa-shopping-cart ml-1" ></i>
              </button>

            </form>

            <br>            
            <div class="mb-3" *ngIf="product">
              <a [routerLink]="['/vendor-products', product.store._id]">                
                <span style="font-size: 18px;" class="badge purple mr-1">{{ product.store.name }}</span>
              </a>
            </div>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    <!--Grid row-->
    <div class="row row-underline">
        <div class="col-md-6"> <span class=" deal-text">Especificaciones</span> </div>
        <div class="col-md-6"> <a href="#" data-abc="true"> <span class="ml-auto view-all"></span> </a> </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>{{ product.description }}</p>
        </div>
    </div>

      <br><br>

      <div class="row">
        <h1 class="section-title text-center">PRODUCTOS RELACIONADOS</h1>
      </div>

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div *ngIf="relatedProducts">
          <div class="col-4 mb-4 mx-auto" *ngFor="let relatedProduct of relatedProducts | slice:0:3;">
            <div class="text-center">
              <a [routerLink]="['/single-product', relatedProduct._id]">
                <img src="{{ relatedProduct.images[0] }}" class="img-fluid" width="300px" height="300px" alt="">
              </a>
              <h5 class="text-center">{{ relatedProduct.name }}</h5>
            </div>
          </div>
        </div>

      </div>
      <!--Grid row-->

    </div>
  </main>