<br><br>
<div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

          <!-- Shopping cart table -->
          <div class="table-responsive">
            <table class="table">
              <thead class="bg-header">
                <tr>
                  <th scope="col" class="border-0">
                    <div class="p-2 px-3 text-uppercase">Producto</div>
                  </th>
                  <th scope="col" class="border-0">
                    <div class="py-2 text-uppercase">Precio</div>
                  </th>
                  <th scope="col" class="border-0">
                    <div class="py-2 text-uppercase">Remover</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="cart">
                  <tr *ngFor="let product of cart; let i = index">
                    <th scope="row" class="border-0">
                      <div class="p-2">
                        <img src="{{ product.images[0] }}" alt="" width="70" class="img-fluid rounded shadow-sm">
                        <div class="ml-3 d-inline-block align-middle">
                          <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">{{ product.name }}</a></h5><span class="text-muted font-weight-normal font-italic d-block">Categoría: {{ product.category.name }}</span>
                        </div>
                      </div>
                    </th>
                    <td class="border-0 align-middle"><strong>{{ product.price }} CLP</strong></td>
                    <td class="border-0 align-middle"><a class="text-dark" (click)="deleteCartProduct(i)"><i class="fa fa-trash"></i></a></td>
                  </tr>
                </ng-container>
                <br>
                <ng-container *ngIf="!cart">
                  <h3 class="text-center">No hay productos en el carrito</h3>
                </ng-container>
              </tbody>
            </table>
          </div>
          <!-- End -->
        </div>
      </div>

      <div class="row py-5 p-4 bg-white rounded shadow-sm">
        <div class="col-lg-6">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold bg-header">Código de Cupón</div>
          <div class="p-4">
            <p class="font-italic mb-4">Si tienes un código de cupón, por favor introdúcelo en la caja de abajo</p>
            <form [formGroup]="couponForm">
              <div class="input-group mb-4 border rounded-pill p-2">
                <input type="text" placeholder="Aplicar cupón" formControlName="coupon" class="form-control border-0">
                <div class="input-group-append border-0">
                  <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill" [disabled]="couponForm.invalid || couponSubmitted || !cart.length" (click)="applyCoupon()"><i class="fa fa-gift mr-2"></i>Aplicar cupón</button>
                </div>
              </div>
            </form>
          </div>
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold bg-header">Instrucciones para el vendedor</div>
          <div class="p-4">
            <p class="font-italic mb-4">Si tiene alguna indicación que desea hacerle saber al vendedor por favor escríbela en la caja de abajo</p>
            <textarea name="" cols="30" rows="2" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold bg-header">Total del pedido</div>
          <div class="p-4">
            <p class="font-italic mb-4">El envío y los costos adicionales son calculados en base a los datos ingresados</p>
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Subtotal</strong><strong>{{ subtotal }} CLP</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Cupón</strong><strong>{{ couponQuantity }}</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                <h5 class="font-weight-bold">{{ total }} CLP</h5>
              </li>
            </ul><button class="btn btn-dark rounded-pill py-2 btn-block" [disabled]="!cart.length" (click)="makeOrder()">Proceder a pagar</button>
          </div>
        </div>
      </div>

    </div>
  </div>
