<div class="container">
    <form [formGroup]="categoryForm" (ngSubmit)="edit ? onEdit() : onSubmit()">
        <div class="row">
            <div class="col-md-8">
                <small class="form-text text-danger"
                    *ngIf="categoryForm.get('name').touched && categoryForm.get('name').invalid">
                    Mínimo 3 caracteres
                </small>
                <div class="form-group">
                    <label for="formGroupExampleInput">Nombre de la categoría</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="singleCategory.name" formControlName="name" placeholder="">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Padre</label>
                    <ng-container *ngIf="edit">
                        <ng-container *ngIf="singleCategory.parent">
                            <select class="form-control" id="parent" [(ngModel)]=" singleCategory.parent._id" formControlName="parent">
                              <option value="0">Ninguno</option>
                              <option *ngFor="let category of categories" value="{{ category._id }}">{{ category.name }}</option>
                            </select>
                        </ng-container>
                        <ng-container *ngIf="singleCategory.parent == null">
                            <select class="form-control" id="parent" [(ngModel)]="noneCategory" formControlName="parent">
                              <option value="0">Ninguno</option>
                              <option *ngFor="let category of categories" value="{{ category._id }}">{{ category.name }}</option>
                            </select>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!edit">
                        <select class="form-control" id="parent" formControlName="parent">
                          <option value="0">Ninguno</option>
                          <option *ngFor="let category of categories" value="{{ category._id }}">{{ category.name }}</option>
                        </select>
                    </ng-container>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Imagen de la categoría</label>
                    <input type="url" class="form-control" id="imageUrl" [(ngModel)]="singleCategory.imageUrl" formControlName="imageUrl" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid || submitted">Guardar</button>
                <small class="form-text text-danger"
                    *ngIf="error">
                    Ha ocurrido un error
                </small>
            </div>
        </div>
    </form>
</div>
