* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  background-color: #f7f7f7;
}
input:focus {
  outline: none;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
}
th {
  font-weight: bold;
}
nav {
  z-index: 1030 !important;
}
a {
	text-decoration: none;
	transition: all ease-out 300ms;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}